<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="www.thymeleaf.org/extras/spring-security">
<head>
    <title>Title</title>
    <th:block th:replace="~{base :: header}"></th:block>

</head>
<body>
    <!-- Nav Bar -->
    <div th:replace="base :: nav"></div>

    <!-- Main Content -->
    h1: user full name
    container:
        display user name
        display user email
        display user pic




    <!-- Footer -->
    <div th:replace="base :: footer"></div>
    <!-- JS Links -->
    <div th:replace="base :: jslinks"></div>

</body>
</html>